In [1]:
import pandas as pd

In [2]:
url='https://raw.githubusercontent.com/GouravDutta-datarlabs/Credit-Default-/main/credit_default.csv'
df=pd.read_csv(url)

In [3]:
df.head(5)

,Loan_ID,Gender,Married,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Status
0,LP001003,1.0,1.0,4583.0,1508.0,128,0
1,LP001005,1.0,1.0,3000.0,0.0,66,1
2,LP001006,1.0,1.0,2583.0,2358.0,120,1
3,LP001008,1.0,0.0,6000.0,0.0,141,1
4,LP001011,1.0,1.0,5417.0,4196.0,267,1

In [5]:
df.isna().sum()

Loan_ID               0
Gender               14
Married               4
ApplicantIncome       2
CoapplicantIncome     0
LoanAmount            0
Loan_Status           0
dtype: int64

In [6]:
df['Gender']=df['Gender'].fillna(df['Gender'].mode()[0])
df['Married']=df['Married'].fillna(df['Married'].mode()[0])

In [7]:
df['ApplicantIncome']=df['ApplicantIncome'].fillna(df['ApplicantIncome'].mean())

In [8]:
df.isna().sum()

Loan_ID              0
Gender               0
Married              0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Status          0
dtype: int64